@font-face {
    font-family: 'Montserrat';
    src: url(/src/fonts/Montserrat-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url(/src/fonts/Montserrat-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    src: url(/src/fonts/Montserrat-Bold.svg) format('svg');
}

@font-face {
    font-family: 'Montserrat';
    src: url(/src/fonts/Montserrat-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url(/src/fonts/Montserrat-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    src: url(/src/fonts/Montserrat-Regular.svg) format('svg');
}